@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme styles */
.filepond--panel-root {
  background-color: #eee;
  /* ... other styles ... */
}

/* ... other default light theme styles ... */

/* Dark theme styles */
.dark .filepond--panel-root {
  background-color: #111828; /* Dark background for the panel */
  border: 1px solid #333b4a
}

.dark .filepond--drop-label {
  color: #ddd; /* Lighter text color for dark mode */
  font-family: Inter !important;
}

.dark .filepond--label-action {
  text-decoration-color: #ccc; /* Lighter underline color for "Browse" button */
}

.dark .filepond--item-panel {
  background-color: #333; /* Dark background for file items */
}

.dark .filepond--drip-blob {
  background-color: #555; /* Dark background for the drop circle */
}

.dark .filepond--file-action-button {
  background-color: rgba(255, 255, 255, 0.5); /* Lighter background for action buttons */
  color: black; /* Dark text/icon color for action buttons */
}

/* ... other dark theme styles ... */

/* You can also customize the colors for error and success states in dark mode */
.dark [data-filepond-item-state*='error'] .filepond--item-panel {
  background-color: #ff5555; /* Darker red for errors */
}

.dark [data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: #55ff55; /* Darker green for success */
}

.tiptap ul p,
.tiptap ol p {
  display: inline;
}

.tiptap p.is-editor-empty:first-child::before {
  font-size: 14px;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  outline: none;
}
